@use '../../styles/utils/_variables' as var;

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid var.$color-accent-green;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link {
  padding: 5px 10px;
}

.active {
  background-color: var.$bg-color-blue;
  border-radius: 5px;
}

