//Colors
$color-text: rgba(255, 255, 255, 0.96);
$color-bg: #0d253f;

//Fonts
$font-main: 'Manrope', sans-serif;
$font-weight-normal: 400;
$line-height-base: 1.2;

// BREAKPOINTS
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;