:root {
    font-family: Manrope, sans-serif;
    line-height: 1.2;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.96);
    background-color: #0d253f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg {
    display: block;
}
